.container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

}


img{
    width: 225px;
    height: 250px;
    transition: all 1s;
}

img:hover{
    transform: scale(1.1);
    animation: backwards;
}